<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
            padding: 0;
            margin: 0;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .header {
            background-color: #003366;
            color: #ffffff;
            text-align: center;
            padding: 20px;
        }

        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .footer {
            text-align: center;
            margin-top: 20px;
            color: #777;
        }
    </style>
    <title></title>
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Password Reset Request</h1>
    </div>
    <div class="content">
        <p>Dear <%= user.name %>,</p>
        <p>
            We received a request to reset your password for your Desta Touring account. To proceed with resetting your
            password,
            please click on the link below:
        </p>
        <p>
            <a href="<%= resetURL %>">Reset Password</a>
        </p>
        <p>
            If you did not request a password reset, please ignore this email. Your password will remain unchanged.
        </p>
        <p>
            For security reasons, this link will expire in 24 hours. If you need further assistance,
            please contact our support team at <%= supportEmail %>.
        </p>
        <p>
            Thank you for using Desta Touring. We are here to help you with any issues or concerns.
        </p>
    </div>
    <div class="footer">
        <p>Best regards,</p>
        <p>The Desta Touring Team</p>
    </div>
</div>


</body>
</html>